body {
background-image: url(../img/background.jpg);
background-repeat: repeat;
width: 100%;
height: 100%;
}
html {
height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 700;
}
.navbar li { color: #000 }
.topnav {
font-size: 15px;
}
.navbar-brand {
background: url(../img/icon.png) left / contain no-repeat;
width: 200px;
}
.lead {
font-size: 18px;
font-weight: 400;
text-align: justify;
}
.intro-header {
height: 100%;
padding-top: 150px;
text-align: center;
color: #f8f8f8;
background: url(../img/dog1.jpg) no-repeat center center;
background-size: cover;
}
.intro-message {
position: relative;
padding-top: 20%;
padding-bottom: 20%;
background: url(../img/logo.png) no-repeat center center;
background-size: 45%;
}
.intro-message>h1 {
margin: 0;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
font-size: 5em;
}
.intro-divider {
width: 400px;
border-top: 1px solid #f8f8f8;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.intro-message>h3 {
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
@media(max-width:767px) {
.intro-message {
	padding-bottom: 15%;
	
}
.intro-message>h1 {
	font-size: 3em;
}
ul.intro-social-buttons>li {
	display: block;
	margin-bottom: 20px;
	padding: 0;
}
ul.intro-social-buttons>li:last-child {
	margin-bottom: 0;
}
.intro-divider {
	width: 100%;
}
}

.network-name {
text-transform: uppercase;
font-size: 14px;
font-weight: 400;
letter-spacing: 2px;
}
.content-section-a {
padding: 150px 0;
background-color: #f8f8f8;
}
.content-section-b {
height: 100%;
padding-top: 200px;
border-top: 1px solid #e7e7e7;
border-bottom: 1px solid #e7e7e7;
background: url(../img/dog.png) no-repeat center center;
background-size: 30%;
background-position-x: 200px;
background-position-y: 200px;
}
.section-heading {
margin-bottom: 30px;
text-align: center;
}
.section-heading-spacer {
float: left;
}
.banner {
height: 90%;
padding-top: 150px;
color: #f8f8f8;
background: url(../img/cat.jpeg) no-repeat center center;
background-size: cover;
}
.banner h2 {
margin: 0;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
font-size: 3em;
}
.banner ul {
margin-bottom: 0;
}
.banner-social-buttons {
float: right;
margin-top: 0;
}
@media(max-width:1199px) {
ul.banner-social-buttons {
	float: left;
	margin-top: 15px;
}
}
@media(max-width:767px) {
.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}
ul.banner-social-buttons>li {
	display: block;
	margin-bottom: 20px;
	padding: 0;
}
ul.banner-social-buttons>li:last-child {
	margin-bottom: 0;
}
.intro-message {
	padding-bottom: 50%;
	background-size: 90%;
	
}
.intro-header {
background-size: 0%;
background-color: #f8f8f8;
}
.content-section-b {
	padding-top: 100px;
background-size: 0%;
}
.banner {
padding-top: 50px;
}
}

footer {
padding: 10px 0;
}
@media(min-width:767px) {
    .navbar {
        padding: 15px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}